:root {
  --color-blue: #0079fe;
  --color-red: #ff2f2f;
  --color-white: #fff;
  --color-green: #08872b;
  --color-bg: #000;
  --color-container-bg: #101411;
  --color-form-bg: #232925;
  --color-card: #1e2a48;
  --color-card-dark: #141c2f;
  --color-box-shadow: #1f1f1f;
  --default-radius: 0.7rem;
  --margin-after-form: 4rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--color-white);
}

.container {
  background-color: var(--color-container-bg);
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  height: auto;
  margin: 10rem auto;
  border-radius: var(--default-radius);
  padding: 2rem;
  box-shadow: 0px 4px 10px 10px var(--color-box-shadow);
}

header {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

.logo-img {
  width: 3rem;
  height: 3rem;
}

.relative {
  position: relative;
}

.form {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  background-color: var(--color-form-bg);
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: var(--default-radius);
}

.choices {
  position: absolute;
  left: 0;
  top: -2.8rem;
  display: flex;
  gap: 1.5rem;
}

.input {
  padding: 1rem 1rem 1rem 2.4rem;
  font-size: 1.6rem;
  flex: 1;
  background: transparent;
  background-image: url("../public/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: left center;
  border: none;
  outline: none;
  color: var(--color-white);
}

.button {
  background-color: var(--color-green);
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--default-radius);
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.loader {
  text-align: center;
  margin-top: var(--margin-after-form);

  &::before {
    content: "";
    display: inline-block;
    border: solid 5px #cfd0d1;
    border-bottom-color: var(--color-green);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    will-change: transform;
    animation: 1s linear infinite spin;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  position: absolute;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: var(--color-red);
  display: flex;
}

.hidden {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: var(--margin-after-form);
}
